<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kugelmanportal.yochi.notification" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>notified</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="developer@kugelmanportal.com" href="http://kugelmanportal.com">
        Binyamin Kugelman
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*"  launch-external="yes"/>
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="google-services.json" target="google-services.json" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <engine name="browser" spec="^5.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-push" spec="~1.8.0" >
        <variable name="SENDER_ID" value="706672304606" />
    </plugin>
    <resource-file src="white-car.png" target="asset/white-car.png" />
    <resource-file src="lazy-man.png" target="asset/lazy-man.png" />
</widget>
